* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*Colors*/
    --profile: hsl(246, 80%, 60%);
    --work: hsl(15, 100%, 70%);
    --play: hsl(195, 74%, 62%);
    --study: hsl(348, 100%, 68%);
    --exercise: hsl(145, 58%, 55%);
    --social: hsl(264, 64%, 52%);
    --self-care: hsl(43, 84%, 65%);
    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);

    /*Typography*/
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: #fff;
}

body {
    background-color: var(--very-dark-blue);
    width: 100vw;
    height: 100vh;
    max-width: 1440px;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {    
    width: 80%;
    max-width: 1150px;
    height: 80%;
    min-height: 550px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*repeat(auto-fit, minmax(100px, auto)); pode ser usado no mobile*/    
    grid-gap: 30px;
    padding: 20px;
}
/*Card Profile*/
.profile {
    grid-row: 1 / 3;
    background-color: var(--dark-blue);
    border-radius: 14px;
}

.profile-header {
    background-color: var(--profile);
    height: 67%;
    border-radius: 14px;
    padding: 35px 30px;
}

.profile-header p {
    margin-top: 45px;
    font-weight: 300;
    font-size: 0.61rem;
    color: var(--pale-blue);
}

.profile-header h2 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 1.56rem;
    line-height: 2.00rem;
}

.profile-avatar img {
    width: 80px;
    height: auto;
    border: 3px solid var(--pale-blue);
    border-radius: 50%;
}

.time-course {
    margin: 30px;
    cursor: pointer;
    width: fit-content;
    color: var(--social);
}

.time-course.active,
.time-course:hover {
    color: var(--pale-blue);
}
/*Demais cards*/
.card {
    border-radius: 14px;
    background-color: var(--dark-blue);
    cursor: pointer;
}
.card:hover{
    background-color: var(--desaturated-blue);
}

.stats-menu {
    margin-top: -14px;
    border-radius: 14px 14px 0 0;
    background-color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 35px 0 35px;
}
.menu{
    background-image: url(../images/icon-ellipsis.svg);
    background-repeat: no-repeat;
    width: 25px;
    height: 10px;
    cursor: pointer;
}

.card h3{
    margin: 25px 35px 0 35px;
    font-weight: 300;
    font-size: 3rem;
}

.card p{
    margin-top: 10px;
    font-weight: 300;
    font-size: 0.61rem;
    color: var(--pale-blue);
    margin-left: 35px;
}

.card-header {
    height: 59px;
    border-radius: 14px 14px 0 0;    
    background-repeat: no-repeat;
    background-position: 85%;   
}
/*Headers Específicos*/
.work {
    background-color: var(--work);
    background-image: url(../images/icon-work.svg);
}

.play {
    background-color: var(--play);
    background-image: url(../images/icon-play.svg);
}

.study {
    background-color: var(--study);
    background-image: url(../images/icon-study.svg);
}

.exercise {
    background-color: var(--exercise);
    background-image: url(../images/icon-exercise.svg);
}

.social {
    background-color: var(--social);
    background-image: url(../images/icon-social.svg);
}

.self-care {
    background-color: var(--self-care);
    background-image: url(../images/icon-self-care.svg);
}

